/* HEADER INDEX*/

.header-index {

    width: 100vw;
    height: 100vh;
    background:url(/images/macro-view-clock-mechanism.jpg) fixed no-repeat;  
    background-size: cover;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

}

/* GRID */ 

.div-vide {

    background-color: #363A47;
    grid-area: 1 / 1 / 3 / 4;
}

.div-h1-index {

    background-color: #fff;
    grid-area: 3 / 1/ 4 / 6;
    display:flex;
    justify-content: center;
    align-items: center;
}

.header-art-index {

    background-color: #363A47;
    grid-area:4 / 3 / 6 / 6;
}

/* fin GRID */

.h1-index {

    text-transform: uppercase;
    font-size: 4em;
    background:url(/images/macro-view-clock-mechanism.jpg) fixed no-repeat;  
    background-size: cover;
    color:transparent;
    background-clip: text;
    -webkit-background-clip: text;
}