@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Epilogue', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
/* font-family: 'IBM Plex Sans', sans-serif; */



/* GENERIQUE */

*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {

    font-family: 'IBM Plex Sans', sans-serif; 
    font-size:16px;
    text-align:justify;
}

h1,h2,h3,h4,h5,h6 {

    font-family: 'Epilogue', sans-serif;
}

/* MENU */

.menu {

    
    background-color:#363A47;
    height:10vh;
    width:100vw;
    position:fixed;
    margin-bottom:1px;

}

.menu_link {

    list-style:none;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
    height:100%;
}

.menu_link-li  {

    width:33.33vw;
    height:100%;

}

.menu_link-li a {

text-decoration:none;
color:white;
width:100%;
height:100%;
display:flex;
justify-content: center;
align-items:center;

}

.menu_link-li a:hover {

background-color:  #e74c3c;
    
    }

/* MON BOUTON */

.mon-bouton {

    text-decoration:none;
    color:#fff;
    background-color:/*#e74c3c*/ green ;
    height:auto;
    

}


/* MON BOUTON */

